name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: CI
    uses: silverstripe/gha-ci/.github/workflows/ci.yml@v1
    with:
      # set phpunit to false to prevent automatic generation of mysql phpunit jobs
      phpunit: false
      preserve_vendor_tests: true
      extra_jobs: |
        - php: 8.1
          db: pgsql
          phpunit: true
          composer_args: --prefer-lowest
          phpunit_suite: all
        - php: 8.1
          db: pgsql
          phpunit: true
          phpunit_suite: all
        - php: 8.2
          db: pgsql
          phpunit: true
          phpunit_suite: all

